.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

p {
    letter-spacing: 2%;
}

a {
    text-decoration: none;
    color: #333333;
}

h1 {
    font-size: 4em;
    letter-spacing: 4%;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
}

/* Header Styles */
header {
    background-color: #F5F5F5;
    color: #333333;
    padding: 37px 0;
    display: flex;
    align-items: center;
}

/* .company-name {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
} */

.logo img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

.book-now-button {
    display: inline-block;
    padding: 1.3em 2.171em;
    background-color: #1E88E5;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.02em;
    text-transform: none;
    outline: 0;
    margin-left: 0;
    margin-right: 0;
}

.book-now-button:hover {
    background-color: #FFC107;
    color: #333333;
}

.instagram-icon {
    color: #333333;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 20px;
    vertical-align: middle;
}

.nav-wrapper {
    margin-left: auto;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
}

/* Homepage */
h1.hero-heading,
h1.hero-heading-break {
    font-size: 4em;
    letter-spacing: 4%;
    font-weight: 500;
}

h1.hero-heading {
    margin-bottom: 0;
}

h1.hero-heading-break {
    margin-top: 0;
}

.hero-image {
    max-width: 100%;
    margin-top: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Homepage Features Benefits */
.features-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.features-section {
    display: flex;
    justify-content: space-between;
}

.features-grid {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
    margin-bottom: 20px;
    border: none;
}

.features-grid:not(:last-child) {
    margin-right: 20px;
}

.features-icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.features-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    color: #888888;
}

.features-icon {
    transition: color 0.3s ease;
}

.features-grid:hover .features-icon .fa-droplet-slash {
    color: #00a4e6;
}

.features-grid:hover .features-icon .fa-leaf {
    color: #34A853;
}

.features-grid:hover .features-icon .fa-calendar-check {
    color: #fea55b;
}

.features-icon {
    transition: color 0.3s ease;
}


/* Homepage Features Benefits 2 & 3 */
.features-section2,
.features-section3 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.features-section2 .content,
.features-section3 .content {
    display: flex;
    align-items: center;
}

.features-section2 .image,
.features-section3 .image {
    width: 544px;
    height: 617px;
}

.features-section2 .image img,
.features-section3 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features-section2 .text,
.features-section3 .text {
    flex-basis: calc(100% - 544px);
    padding: 0 20px;
}

.features-section2 h2,
.features-section3 h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.features-section2 p,
.features-section3 p {
    font-size: 1.25em;
    line-height: 1.5;
    margin-bottom: 35px;
}

.cta-button {
    display: inline-block;
    padding: 18px 50px;
    background-color: #1E88E5;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 1em;
}

.cta-button:hover {
    background-color: #FFC107;
    color: #333333;
}


/* Homepage Pricing Cards */
.pricing-cards {
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-shadow: none;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #333333;
}

.card .starting-at {
    margin-bottom: -15px;
}

.title {
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 10px;
}

.dollar-sign {
    font-weight: 500;
    font-size: 1.75em;
    letter-spacing: 2%;
    position: relative;
    top: 1.75em;
    left: -3em;
    display: inline-block;
    vertical-align: middle;
}

.card:nth-child(1) .dollar-sign {
    left: -2.1em;
}

.price-value {
    font-size: 5.5em;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0;
}

.price-description {
    font-size: 1em;
    letter-spacing: 2%;
    margin-bottom: 40px;
}

.starting-at {
    font-size: 1em;
    letter-spacing: 2%;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #888888;
}

.price-button {
    display: inline-block;
    padding: 16px 30px;
    background-color: #1E88E5;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.price-button:hover {
    background-color: #FFC107;
    color: #333333;
}


/* Testimonials */
.testimonial-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.testimonial {
    text-align: center;
    margin-bottom: 40px;
}

.quote {
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    margin-right: 20px;
}

.author {
    font-weight: 400;
    font-size: 1.25em;
    margin-left: 40px;
    text-align: left;
    margin-right: 20px;
}

/* Homepage CTA Banner */



/* Services */
p .upcharge-text {
    font-size: 1em;
    font-style: italic;
    color: #888;
}

/* About */


/* Cancellation Policy */
.policy-container p {
    font-size: 1em;
    font-style: italic;
    color: #888;
}


/* Contact */


/* FAQ */
.faq {
    margin-bottom: 20px;
}

.question {
    font-weight: 500;
    font-size: 1.5em;
    cursor: pointer;
}

.answer {
    font-size: 0.7em;
    display: none;
}

.show {
    display: block;
}

/* Footer Styles */
.footer-row {
    text-align: center;
    margin: 40px 0;
}

.footer-row.centered-row {
    display: flex;
    justify-content: center;
}

.centered-row {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
}

.footer-column {
    flex-basis: 30%;
    text-align: left;
}

.footer-column p {
    margin: 5px;
    color: #333333;
    font-size: 16px;
}

div.footer-column p.company-name {
    font-size: 2.125em;
    font-weight: 500;
    margin: 0;
}

.footer-heading {
    font-weight: bold;
}

.footer-column ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333333;
}

.footer-column p,
.footer-column ul li a {
    color: #333333;
    font-size: 1em;
    margin: 0;
}

p.slogan {
    font-size: 1.25em;
    font-style: italic;
    margin-top: -10px;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons a {
    color: #333333;
    margin-bottom: 5px;
    padding: 5px 0;
}

.social-icons a i {
    margin-right: 5px;
}

.social-icons a:hover {
    color: #ccc;
}

.payment-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pay-icons {
    height: 1em;
    width: auto;
    margin-right: 5px;
}

.footer-column p,
.footer-column ul li,
.footer-column ul li a {
    padding: 5px 0;
}

p.center {
    font-size: 1em;
    letter-spacing: 2%;
}

/* Media query for desktop view */
@media screen and (max-width: 767px) {
    .quote,
    .author {
        flex-basis: 100%;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.responsive {
        display: flex;
        flex-direction: column;
    }

    .nav-links.responsive li {
        margin: 10px 0;
    }

    .header-icons {
        display: none;
    }

    h1.hero-heading,
    h1.hero-heading-break {
        font-size: 2.7em;
    }
}