.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.5em;
    letter-spacing: 2%;
    /* line-height: 1.5; */
}

a {
    text-decoration: none;
    color: #333333;
}

h1 {
    font-size: 4em;
    letter-spacing: 4%;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
}

/* Header Styles */
header {
    background-color: #F5F5F5;
    color: #333333;
    padding: 37px 0;
    display: flex;
    align-items: center;
}

.company-name {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

.book-now-button {
    display: inline-block;
    padding: 1.3em 2.171em;
    background-color: #1E88E5;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.02em;
    text-transform: none;
    outline: 0;
    margin-left: 0;
    margin-right: 0;
}

.book-now-button:hover {
    background-color: #FFC107;
    color: #333333;
}

.instagram-icon {
    color: #333333;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 20px;
    vertical-align: middle;
}

.nav-wrapper {
    margin-left: auto;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
}

/* Homepage */
h1.hero-heading,
h1.hero-heading-break {
    font-size: 4em;
    letter-spacing: 4%;
    font-weight: 500;
}

h1.hero-heading {
    margin-bottom: 0;
}

h1.hero-heading-break {
    margin-top: 0;
}

.hero-image {
    max-width: 100%;
    margin-top: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Homepage Features Benefits */
.features-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.grid {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    color: #888888;
}

/* Services */
p .upcharge-text {
    font-size: 0.75em;
    font-style: italic;
    color: #888;
}

/* About */


/* Cancellation Policy */
.policy-container p {
    font-size: 1em;
    font-style: italic;
    color: #888;
}


/* Contact */


/* FAQ */
.faq {
    margin-bottom: 20px;
}

.question {
    font-weight: 500;
    font-size: 1.5em;
    cursor: pointer;
}

.answer {
    font-size: 0.7em;
    display: none;
}

.show {
    display: block;
}

/* Footer Styles */
.footer-row {
    text-align: center;
    margin: 40px 0;
}

.footer-row.centered-row {
    display: flex;
    justify-content: center;
}

.centered-row {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
}

.footer-column {
    flex-basis: 30%;
    text-align: left;
}

.footer-column p {
    margin: 5px;
    color: #333333;
    font-size: 16px;
}

div.footer-column p.company-name {
    font-size: 1.8em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.slogan {
    font-size: 20px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.footer-heading {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.footer-column ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333333;
}

.footer-column p,
.footer-column ul li a {
    color: #333333;
    font-size: 16px;
    margin: 0;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons a {
    color: #333333;
    margin-bottom: 5px;
    padding: 5px 0;
}

.social-icons a i {
    margin-right: 5px;
}

.social-icons a:hover {
    color: #ccc;
}

.payment-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pay-icons {
    height: 1em;
    width: auto;
    margin-right: 5px;
}

.footer-column p,
.footer-column ul li,
.footer-column ul li a {
    padding: 5px 0;
}

p.center {
    font-size: 1em;
    letter-spacing: 2%;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-links.responsive {
        display: flex;
        flex-direction: column;
    }

    .nav-links.responsive li {
        margin: 10px 0;
    }

    .header-icons {
        display: none;
    }

    h1.hero-heading,
    h1.hero-heading-break {
        font-size: 2.7em;
    }
}